<main>
    <input type="number" name="a" id="a" [(ngModel)]="operandoA">
    <select name="operador" id="operador" [(ngModel)]="operador">
        <option value="0">+</option>
        <option value="1">-</option>
        <option value="2">x</option>
        <option value="3">/</option>
    </select>
    <input type="number" name="b" id="b" [(ngModel)]="operandoB">
    <button>Calcular</button>
    <p></p>
    A interpolação mostra a funcionalidade do ngModel(two way data biding): 
    {{operandoA}}
    {{operandoB}}
    {{operador}}
</main>